body {
    display: flex;
    height: 100vh;
    margin: 0;
    flex-direction: column;
    -webkit-text-size-adjust: none;
}

#menu-gauche {
    width: 500px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 100%;
    background-color: beige;
}

label {
    font-weight: bold;
    margin-top: 10px;
}

select {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
}

#menu-droit {
    width: 3000px;
    padding: 10px;
    border: 1px solid #ccc;
    flex-grow: 1;
    background-color: beige;
}

#carte {
    width: 100%;
    height: 100%;
    /* ajusté pour tenir compte du footer */
}

#footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f9fa;
}

.navbar {
    flex-shrink: 0;

}

.content,
#footer {
    flex-shrink: 0;
}